@import url("colors.css");

/* The window container */
.powermenu {
    background-color: var(--surface);
    color: var(--on_surface);
    min-width: 540px;
    min-height: 380px;
    border-radius: 18px;
}

/* The layout engine inside the window */
grid {
    /* This creates the gap between your buttons inside the grid */
    border-spacing: 10px; 
}

/* The actual buttons */
.clickable {
    background-image: none;
    background-color: var(--on_primary_container);
    color: var(--surface);
    border: none;
    border-radius: 14px;
    
    /* Clear out default toolkit paddings so the symbol centers nicely */
    padding: 0px;
    margin: 1px;
    
    font-family: "Material Symbols Rounded";
    font-size: 60px;

    /* Instructs GTK to expand the button to fill its allocated grid cell */
    min-width: 160px;
    min-height: 160px;

    /* transition: background-color 200ms ease-in-out; */
    transition: border-radius 80ms ease-in-out;
}

.clickable:hover {
    border-radius: 50%;
}
